 *,*::before,*::after,{
  box-sizing:boder box
  font-family:
  font-weight:normal 
}
body{
  padding: 0;
  margin: 0;
  background-color: cyan;

}
.calculator-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: relative;

  
}